body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

a {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}