<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">

    <title>Document</title>
</head>
<body>
    <h1> Welcome to Vestigia </h1>
    <p> Immerse yourself in a world where every object tells a story. 
        On Vestigia, you can discover, explore, and interact with ancient artifacts from all civilizations. 
        Each piece brings you closer to the mysteries of the ancient world and the secrets that time has preserved.
        Add your own objects or browse those already available and let history unfold before your eyes.
    </p>

    <a href="/register">Enregistrer un colis</a>
    <a href="/colis">Voir les colis</a>
</body>
</html>