<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenue sur Vestigia </h1>
    <p> Plongez dans un univers où chaque objet raconte une histoire. Sur Vestigia, vous pouvez découvrir, explorer et interagir avec des artefacts antiques venus de toutes les civilisations. Chaque pièce vous rapproche un peu plus des mystères du monde ancien et des secrets que le temps a préservés.
Ajoutez vos propres objets ou parcourez ceux déjà disponibles et laissez l’histoire se révéler sous vos yeux.


Vestigia – Le passé à portée de clic. </p>

    <a href="/register">Enregistrer un colis</a>
    <a href="/colis">Voir les colis</a>
</body>
</html>