<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colis</title>
</head>
<body>
    <h1>Details du {{ one_parcel }}</h1> 

    <p>Nom  : {{ one_parcel.name_article }}</p>
    <p>Description : {{ one_parcel.description }}</p>
    <p>Valeur : {{ one_parcel.value }}</p>
    <p>Poids : {{ one_parcel.weight }}kg</p>
    <p>Etat de livraison : {{ one_parcel.status }}</p>

    <a href="/colis">Retour à la liste des colis</a>
</body>
</html>